
#header{ 
    text-align: center;
}
#gameBox {
    background-color: grey;
    border: 5px solid black;
    border-radius: 25px;
    display: block;
    margin: 0 auto;
}
#hints{
    text-align: center;
    width: 100%;
}
